.Button {
    /* Base styles */
    font-size: 1rem;
    line-height: 2;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    justify-content: center;
    padding-left: .75em;
    padding-right: .75em;
    text-align: center;
    white-space: nowrap;

    /* Default Styles */
    background-color: #00d1b2; /* theme.color.primary */
    border-color: transparent;
    color: #fff; /* theme.color.neutral.[0] */
}

.dark .Button {
    background-color: transparent;
    border-color: #00d1b2; /* theme.color.primary */
    color: #00d1b2; /* theme.color.primary */
}

.Button--danger {
    background-color: #ff3860; /* theme.color.danger */
    border-color: transparent;
    color: #fff; /* theme.color.neutral.[0] */
}

.Button:disabled {
    background-color: #f5f5f5; /* theme.color.neutral.[100] */
    border-color: transparent;
    color: #c5c5c5; /* theme.color.neutral.[300] */
    pointer-events: none;
}

.ButtonThemed {
    background-color: #fff; /* customTheme.color.neutral.[0] */
    border-color: #007bff; /* customTheme.color.primary */
    color: #007bff; /* customTheme.color.primary */
    border-width: 2px;
    border-radius: 4px;
    box-shadow: 0 3px 5px #c5c5c5; /* customTheme.color.neutral.[300] */
}